@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/leaflet/dist/leaflet.css';

@include media-breakpoint-up(md) {
  .pf-command-panel {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }
}


@include media-breakpoint-up(lg) {
  .pf-events-feed {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }
}

