@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import '../node_modules/leaflet/dist/leaflet.css';

[id="inline-sprite.octicons"] {
  display: none;
}

@include media-breakpoint-up(md) {
  .pf-command-panel {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }
}


@include media-breakpoint-up(lg) {
  .pf-events-feed {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
  }
}

.pf-main-content-container {
  @include make-container();
  margin-top: 15px;
}
